@media only screen and (max-width: 550px) {
  nav{
    &.nav-about ul{
      flex-direction: column;
  
      & li{
        margin-right: 0;
      }
  
      &:nth-child(even) li{
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .figure-full-mobile{
    & figure{
      justify-content: right;
      margin: 0 0.25em 1em 0;
    }
  
    & figure:nth-child(even){
      margin: 0 0 1em 0.25em;
    }
  }

  .figure-mobile-full{
    & figure{
      justify-content: right;
      margin: 0 0 1em 0.25em;
    }
  
    & figure:nth-child(even){
      margin: 0 0.25em 1em 0;
    }
  }

  .splide__arrow{
    visibility: hidden;
  }
}

@media only screen and (max-width: 400px){
  h1, h2, h3, h4, h5, h6{ font-size: 36px; }
  nav.nav-main ul{ font-size: 18px; }

  nav.nav-main{ 
    margin: calc(17vh - 50px) auto 25vh auto;
  }
}