nav{
  &.nav-main{
    display: inline-block;
    margin: calc(17vh - 68px) auto 25vh auto;

    & h1{
      text-align: center;
      margin: 0;
    }

    & ul{
      display: flex;
      justify-content: space-between;
      list-style: none;
      font-size: 24px;
      margin: 0;
      padding: 0;

      & li{
        display: flex;

        & a{
          text-decoration: none;
        
          &, &:visited{
            color: $paragraph;
          }
        
          &:hover{
            color: $paragraph;
            text-decoration: underline;
          }
        
          &:active{
            color: $paragraph;
          }
        }
      }
    }
  }

  &.nav-about{
    display: flex;
    justify-content: space-between;
  
    & ul{
      list-style-type: none;
      display: flex;
      margin: 0;
      padding: 0;

      & li{
        margin-right: 0.5em;
      }
    }
  }
}

.nav-about, p {
  margin: 1em 0 0 0;
}

figure{
  margin: 0;

  & a{
    display: flex;
  }

  & figcaption{
    margin: 0.25em 0;
  }
}

.figure-full-mobile, .figure-mobile-full{
  display: flex;
  justify-content: space-between;

  & figure{
    justify-content: right;
    margin: 0 0.5em 0 0;
  }

  & figure:nth-child(even){
    margin: 0 0 0 0.5em;
  }
}

.figure-mobile-full{
  flex-direction: row-reverse;

  & figure{
    justify-content: left;
    margin: 0 0 0 0.5em;
  }

  & figure:nth-child(even){
    margin: 0 0.5em 0 0;
  }
}

#about, #projects{
  line-height: 1;
}