.project{
  margin-top: 1em;
  padding: 0 255px 0 0;
  display: flex;

  & p{
    margin: 0.3em 0;
  }

  &-tags{
    color: darken($paragraph, 30%);
  }

  & > img{
    border-right: 5px solid darken($background, 2%);
    border-bottom: 5px solid darken($background, 2%);
    width: 250px;
    height: 250px;
    display: block;
    margin: 0 0.5em 0 0;
  }

  & > div{
    & > h2{
      font-size: 32px;
      margin: 0.1em 0 0.25em 0;
      & a{
        color: $headline;
      }
    }
  }
}

.project:nth-of-type(even){
  flex-direction: row-reverse;
  text-align: right;
  padding: 0 0 0 255px;

  & > img{
    border-right: none;
    border-left: 5px solid darken($background, 2%);
    margin: 0 0 0 0.5em;
  }
}