header{
  height: 33vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, $primary 0%, rgba(170, 120, 98, 0) 100%);

  & img{
    width: 33vh;
    height: 33vh;
    margin-top: 6.5vh;
  }
}