html, body{
  font: $text-paragraph;
  background: $background;
  color: $paragraph;
  scroll-behavior: smooth;
  margin: 0;
}

main{
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1em;
}

h1, h2, h3, h4, h5, h6{
  font: $text-headline;
  color: $headline;
  margin-bottom: 0;
}

h1{
  margin-top: 3em;
}

img{
  max-width: 100%;
}

a{
  text-decoration: none;

  &, &:visited{
    color: $color-link;
  }

  &:hover{
    color: $color-link-hover;
    text-decoration: underline;
  }

  &:active{
    color: $color-link-active;
  }
}
